.chart-container {
    width: 100%;
    margin: 0rem auto 2rem auto;
    padding: 1rem;




    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h2 {
        text-align: center;
        margin-bottom: 20px;
        color: white;
    }

    canvas {
        width: 100% !important; // Ensure the canvas takes the full width of the container
        height: auto !important; // Adjust the height to maintain the aspect ratio
    }
}