$grey: #333333;
$purple: #703BF7;
$darkpurple: #814fff;

.dashboard {
    padding: 0 1rem 2rem 4rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1500px;
    // gap: 3rem;

    .section {
        width: 100%;

        .buttonWrapper {
            display: flex;
            width: 100%;

            .platformBtn {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                // background-color: $grey;
                padding: 0.5rem 0;
                // border-radius: 0.5rem;
                border-bottom: 2px solid transparent;
                transition: all 0.2s ease-in-out;
                cursor: pointer;

                &:hover {
                    border-bottom: 2px solid $grey;
                }

                img {
                    height: 2rem;
                }

                .username {
                    font-size: 1.1rem;
                }
            }

            .activePlatform {
                border-bottom: 2px solid $purple;

                &:hover {
                    border-bottom: 2px solid $darkpurple;
                }
            }
        }

        .detailsSection {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            gap: 1rem;

            .topDetails {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                // align-items: center;
                gap: 1rem;

                .eachDetail {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    background-color: $grey;
                    border-radius: 0.5rem;
                    padding: 0.25rem 0.5rem;

                    img {
                        height: 2rem;
                    }

                    .content {
                        display: flex;
                        flex-direction: column;

                        .heading {
                            font-size: 0.8rem;
                            color: rgb(207, 207, 207);
                        }

                        .data {
                            font-size: 1.2rem;
                            font-weight: 600;
                        }
                    }
                }

                .noUsername {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    margin-top: 1rem;

                    img {
                        height: 8rem;
                    }

                    .notFound {
                        font-size: 1.2rem;
                    }

                    .setBtn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.2rem;
                        background-color: $purple;
                        padding: 0.5rem 1rem;
                        border-radius: 0.25rem;
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            background-color: $darkpurple;
                        }
                    }
                }
            }

            .graphs {
                display: flex;
                justify-content: center;
                gap: 1rem;

                .lineGraph {
                    min-height: 100%;
                    width: 60%;
                    background-color: #222222;
                    border-radius: 0.5rem;
                    padding: 0.5rem;
                }

                .piechart {
                    width: 40%;
                    min-height: 100%;
                    background-color: #222222;
                    border-radius: 0.5rem;
                    padding: 0.5rem;
                }
            }
        }

        .contests {
            margin-top: 4rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h2 {
                text-align: center;
                font-size: 2rem;
                margin: 2rem 0;
            }

            .contestButtonWrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                .platformBtn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    background-color: $grey;
                    padding: 0.5rem 1rem;
                    border-radius: 0.5rem 0.5rem 0 0;
                    border-bottom: 2px solid transparent;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;

                    img {
                        height: 2rem;
                    }

                    .title {
                        font-size: 1.1rem;
                        font-weight: 600;
                    }
                }

                .activeContest {
                    border-bottom: 2px solid $purple;
                }
            }

            .contestWrapper {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .eachContest {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // gap: 2rem;
                    background-color: #222222;
                    padding: 0.5rem 1rem;

                    .logo {
                        width: 5%;

                        img {
                            height: 2rem;
                        }
                    }

                    .heading {
                        width: 65%;
                        display: flex;
                        flex-direction: column;
                        gap: 0.1rem;

                        .title {
                            font-size: 1.2rem;
                            font-weight: 600;
                        }

                        .duration {
                            color: $purple;
                        }
                    }

                    .startTime {
                        width: 20%;
                    }

                    .viewBtn {
                        width: 10%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.2rem;
                        padding: 0.5rem 1rem;
                        background-color: $purple;
                        font-size: 1.1rem;
                        border-radius: 0.2rem;
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            background-color: $darkpurple;
                        }
                    }
                }

                .noContests {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;

                    img {
                        height: 10rem;
                    }

                    .contestNotFound {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    @media (max-width:1000px) {
        .section {
            .buttonWrapper {
                .platformBtn {
                    flex-direction: column;
                    gap: 0;
                }
            }

            .graphs {
                flex-direction: column;
                align-items: center;

                .lineGraph {
                    min-width: 100%;
                }

                .piechart {
                    min-width: 100%;
                }
            }

            .contests {
                .contestWrapper {
                    .eachContest {
                        gap: 0.25rem;

                        .logo {
                            width: 5%;

                            img {
                                height: 1.25rem;
                            }
                        }

                        .heading {
                            width: 55%;
                        }

                        .startTime {
                            width: 25%;
                        }

                        .viewBtn {
                            width: 15%;
                        }
                    }
                }
            }
        }
    }

    @media (max-width:800px) {
        .section {
            .contests {
                .contestButtonWrapper {
                    gap: 0.25rem;

                    .platformBtn {
                        gap: 0.5rem;
                        padding: 0.25rem 0.5rem;
                    }
                }

                .contestWrapper {
                    .eachContest {
                        .logo {
                            width: 5%;
                        }

                        .heading {
                            width: 50%;

                            .title {
                                font-size: 1rem;
                            }

                            .duration {
                                font-size: 0.75rem;
                            }
                        }

                        .startTime {
                            width: 30%;
                            font-size: 0.85rem;
                        }

                        .viewBtn {
                            width: 15%;
                            font-size: 0.85rem;
                        }
                    }
                }
            }
        }
    }

    @media (max-width:630px) {
        padding: 0 0.5rem 4rem 0.5rem;

        .section {
            .buttonWrapper {
                .platformBtn {
                    .username {
                        display: none;
                    }
                }
            }

            .graphs {
                flex-direction: column;
                align-items: center;

                .lineGraph {
                    min-width: 100%;
                    min-height: 500px;
                }

                .piechart {
                    min-width: 100%;
                }
            }

            .contests {
                .contestButtonWrapper {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    gap: 0.5rem;
                    width: fit-content;
                    margin: 0 auto;
                }

                .contestWrapper {
                    .eachContest {
                        padding: 0.25rem;

                        .logo {
                            width: 5%;
                        }

                        .heading {
                            // width: 47%;

                            .title {
                                font-size: 1rem;
                            }

                            .duration {
                                font-size: 0.75rem;
                            }
                        }

                        .startTime {
                            width: 28%;
                            font-size: 0.85rem;
                        }

                        .viewBtn {
                            width: fit-content;
                            font-size: 0.85rem;
                            padding: 0.25rem 0.5rem;
                        }
                    }

                    .noContests {
                        img {
                            height: 8rem;
                        }

                        .contestNotFound {
                            text-align: center;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }

    @media (max-width:500px) {

        .section {
            .detailsSection {
                .topDetails {
                    .noUsername {
                        img {
                            height: 6rem;
                        }

                        .notFound {
                            font-size: 1.1rem;
                        }

                        .setBtn {
                            padding: 0.25rem 0.5rem;
                        }
                    }
                }
            }

            .contests {
                .contestWrapper {
                    .eachContest {
                        gap: 0.5rem;

                        .logo {
                            width: fit-content;
                        }

                        .heading {
                            font-size: 0.9rem;
                        }

                        .startTime {
                            width: 20%;
                            font-size: 0.75rem;
                        }

                        .viewBtn {
                            width: fit-content;
                        }
                    }
                }
            }
        }
    }
}