.scroll-down-container {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 10px; // Moved this here from inline style
    left: 0;
    z-index: 999;

    @media screen and (max-width:620px) {
        top: 82%;

    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .box {
        width: 40px;
        height: 70px;
        border: 2px solid #fff;
        border-radius: 20px;
        position: relative;
        margin-bottom: 10px;
        animation: scrollAnimation 2s infinite;

        .circle {
            width: 8px;
            height: 8px;
            background-color: #fff;
            border-radius: 50%;
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            animation: scrollCircleAnimation 2s infinite;
        }
    }

    .scroll {
        color: #fff;
        font-size: 14px;
    }
}

@keyframes scrollAnimation {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes scrollCircleAnimation {

    0%,
    100% {
        top: 10px;
    }

    50% {
        top: 50px;
    }
}