$primary-color: #5b4ef2; // Primary color (used in buttons)
$background-color: #0d0d0d; // Background color
$text-color: #ffffff; // Text color
$secondary-text-color: #888888; // Secondary text color
$highlight-color: #444444; // Highlight color (used in cards)
$button-background-color: #141414;
$stat-bg-color: #0d0d0d;
$stat-text-color: #888888;
$div-background-color: rgb(26, 26, 26);
$purple: #5b4ef2;




.nav {
    background-color: $background-color;
    color: $text-color;
    padding: 1rem 2rem;
    border-bottom: 1px solid $highlight-color;
    position: relative;

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 0.75rem;
            font-weight: 700;
            letter-spacing: 0.1rem;

            img {
                height: 2rem;
                width: 2rem;
                object-fit: contain;
            }

            .purple {
                color: $purple;
            }
        }

        .nav-menu {
            display: flex;
            gap: 1.2rem;
            text-decoration: none;
            list-style: none;

            a {
                color: $text-color;
                text-decoration: none;
                background: none;
                border: none;
                cursor: pointer;
                font-size: 1rem;

                &:hover {
                    color: $primary-color;
                }
            }

            button {
                color: $text-color;
                background: none;
                border: none;
                cursor: pointer;
                font-size: 1rem;

                &:hover {
                    color: $primary-color;
                }
            }
        }

        .nav-icon {
            display: none;
            font-size: 1.3rem;
            cursor: pointer;
        }
    }

    @media (max-width: 768px) {
        .nav-container {
            .nav-menu {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background-color: $background-color;
                flex-direction: column;
                align-items: center;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.3s ease;
                // border-bottom: 1px solid $highlight-color;

                &.active {
                    max-height: 500px;
                    // border-bottom: 1px solid $highlight-color;
                }

                a,
                button {
                    padding: 10px 0;
                }
            }

            .nav-icon {
                display: block;
            }
        }
    }
}