$grey: #333333;
$purple: #703BF7;
$darkpurple: #814fff;

.nav {
    // background-color: $background-color;
    color: white;
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 0.75rem;
            font-weight: 700;
            letter-spacing: 0.1rem;

            img {
                height: 2rem;
                width: 2rem;
                object-fit: contain;
            }

            .purple {
                color: $purple;
            }
        }

        .nav-menu {
            display: flex;
            gap: 1.2rem;
            text-decoration: none;
            list-style: none;

            a {
                color: white;
                text-decoration: none;
                background: none;
                border: none;
                cursor: pointer;
                font-size: 1rem;
                transition: all 0.2s ease-in-out;
                font-weight: 600;

                &:hover {
                    color: $purple;
                }
            }

            button {
                color: white;
                background: none;
                border: none;
                font-size: 1rem;
                transition: all 0.2s ease-in-out;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    color: $purple;
                }
            }
        }

        .nav-icon {
            display: none;
            font-size: 1.3rem;
            cursor: pointer;
        }
    }

    @media (max-width: 768px) {
        .nav-container {
            .nav-menu {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background-color: #1a1a1a;
                flex-direction: column;
                align-items: center;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.3s ease;
                // border-bottom: 1px solid $highlight-color;

                &.active {
                    max-height: 500px;
                    // border-bottom: 1px solid $highlight-color;
                }

                a,
                button {
                    padding: 10px 0;
                }
            }

            .nav-icon {
                display: block;
            }
        }
    }
}