$primary-color: #5b4ef2; // Primary color (used in buttons)
$background-color: #0d0d0d; // Background color
$text-color: #ffffff; // Text color
$secondary-text-color: #888888; // Secondary text color
$highlight-color: #444444; // Highlight color (used in cards)
$button-background-color: #141414;
$stat-bg-color: #0d0d0d;
$stat-text-color: #888888;
$div-background-color: rgb(26, 26, 26);
$purple: #703BF7;
$darkpurple: #814fff;

.landing {
    background-color: $background-color;
    color: $text-color;

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 90%;
        margin: 2rem auto;
        background-color: $background-color;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .hero-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            @media (min-width: 768px) {
                width: 50%;
            }

            .content {
                h1 {
                    font-size: 36px;

                    @media (min-width: 768px) {
                        font-size: 48px;
                    }
                }

                p {
                    margin: 20px 0;
                    color: $secondary-text-color;
                }

                .buttons {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    @media (min-width: 768px) {
                        flex-direction: row;
                        gap: 20px;
                    }

                    .btn {
                        padding: 15px 30px;
                        border: none;
                        cursor: pointer;
                        border-radius: 10px;

                        &.learn-more {
                            background-color: $button-background-color;
                            color: $text-color;
                            border: 2px solid gray;
                        }

                        &.browse-properties {
                            background-color: $darkpurple;
                            color: $text-color;
                        }
                    }
                }
            }

            .stats {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 2rem 0;
                // margin: 2rem 0;

                @media (min-width: 768px) {
                    flex-direction: row;
                }

                .stat {
                    background-color: $div-background-color;
                    border: 1px solid $highlight-color;
                    padding: 1rem;
                    border-radius: 14px;
                    margin-bottom: 1rem;

                    @media (min-width: 768px) {
                        margin-bottom: 0;
                    }

                    h3 {
                        font-size: 24px;
                        margin-bottom: 10px;

                        @media (min-width: 768px) {
                            font-size: 32px;
                        }
                    }

                    p {
                        font-size: 14px;
                        color: $stat-text-color;

                        @media (min-width: 768px) {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .image {
            width: 100%;

            @media (min-width: 768px) {
                width: 50%;
            }

            img {
                max-width: 100%;
                height: auto;
            }
        }

        .app__header-circles {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: auto;
            // margin: 2rem 0;

            @media (min-width: 768px) {
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;
                height: 100%;
                margin-left: 0rem;
                margin-top: -2rem;
                margin-right: 3rem;
            }

            .circle-cmp {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                background: none;
                border: 1px solid $highlight-color;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
                align-items: center;
                justify-content: center;

                @media (min-width: 768px) {
                    width: 100px;
                    height: 100px;
                }

                img {
                    width: 60%;
                    height: 60%;
                }
            }

            div:nth-child(2) {
                margin: 1rem;

                @media (min-width: 768px) {
                    margin: 1.75rem;
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }

    .features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        max-width: 90%;
        margin: 2rem auto;
        flex-wrap: wrap;

        @media (min-width: 768px) {
            flex-direction: row;
        }

        .feature {
            flex: 1;
            padding: 2.5rem 1rem;
            background-color: $div-background-color;
            text-align: center;
            border: 1px solid $highlight-color;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            h4 {
                font-size: 18px;
                color: $primary-color;
            }

            img {
                padding: 2rem;
                width: 100%;
                max-width: 150px;
            }

            p {
                color: $text-color;
                text-align: justify;
            }
        }
    }

    .project-images {
        div {
            h2 {
                text-align: center;
                font-size: 2rem;
            }
        }
    }

    .faq-section {
        max-width: 95%;
        margin: 2rem auto;
        gap: 10px;

        h3 {
            margin-bottom: 1.3rem;
            font-size: 2rem;
            text-align: center;
        }

        @media screen and (max-width:768px) {
            h3 {
                font-size: 1.5rem;
            }
        }

        .faq-item {
            border: 1px solid #333;
            border-radius: 5px;
            margin-bottom: 1.3rem;
            overflow: hidden;

            .faq-question {
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                padding: 1rem;
                background: #222;

                h4 {
                    font-size: 18px;
                    font-weight: 600;
                }

                .faq-icon {
                    font-size: 18px;
                }
            }

            .faq-answer {
                overflow: hidden;
                max-height: 0;
                transition: max-height 0.3s ease-out, padding 0.3s ease-out;
                padding: 0rem 1rem;

                &.show {
                    padding: 1.3rem 1rem;
                    background: #111;
                    max-height: 500px;
                }
            }
        }
    }
}