$primary-color: #5b4ef2; // Primary color (used in buttons)
$background-color: #0d0d0d; // Background color
$text-color: #ffffff; // Text color
$secondary-text-color: #888888; // Secondary text color
$highlight-color: #444444; // Highlight color (used in cards)
$button-background-color: #141414;
$stat-bg-color: #0d0d0d;
$stat-text-color: #888888;
$div-background-color: rgb(26, 26, 26);

.landing {
    background-color: $background-color;
    color: $text-color;



    .header {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-color: $background-color;
        border-bottom: 2px solid $highlight-color;
        align-items: center;

        .logo {
            font-size: 24px;
            font-weight: bold;
            color: $primary-color;
        }

        .nav {
            display: flex;
            gap: 20px;

            a {
                text-decoration: none;
                color: $text-color;
            }

            button {
                // background-color: $button-background-color;
                color: $text-color;
                border: none;
                background-color: $button-background-color;
                cursor: pointer;


            }
        }

        // button {
        //     background-color: $button-background-color;
        //     color: $text-color;
        //     border: none;
        //     padding: 0.8rem 1.5rem;
        //     cursor: pointer;
        //     border-radius: 10px;
        // }
    }

    .hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 90%;
        margin: 2rem auto;
        background-color: $background-color;

        .hero-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;

            .content {
                h1 {
                    font-size: 48px;
                }

                p {
                    margin: 20px 0;
                    color: $secondary-text-color;
                }

                .buttons {
                    display: flex;
                    gap: 20px;

                    .btn {
                        padding: 15px 30px;
                        border: none;
                        cursor: pointer;
                        border-radius: 10px;

                        &.learn-more {
                            background-color: $button-background-color;
                            color: $text-color;
                            border: 2px solid gray;
                        }

                        &.browse-properties {
                            background-color: $primary-color;
                            color: $text-color;
                        }
                    }
                }
            }

            .stats {
                display: flex;
                justify-content: space-between;
                padding: 2rem 0;
                margin: 2rem 0;

                .stat {
                    // text-align: center;
                    background-color: $div-background-color;
                    border: 1px solid $highlight-color;
                    padding: 1rem;
                    border-radius: 14px;

                    h3 {
                        font-size: 32px;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 16px;
                        color: $stat-text-color;
                    }
                }
            }
        }

        .image {
            width: 50%;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        .app__header-circles {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            height: 100%;
            margin-left: 0rem;
            margin-top: -2rem;
            margin-right: 3rem;

            .circle-cmp {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                background: none;
                border: 1px solid $highlight-color;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
                align-items: center;
                justify-content: center;

                img {
                    width: 60%;
                    height: 60%;
                }
            }

            div:nth-child(1) {
                width: 100px;
                height: 100px;
            }

            div:nth-child(2) {
                margin: 1.75rem;
                width: 150px;
                height: 150px;
            }

            div:nth-child(3) {
                width: 100px;
                height: 100px;
            }



        }
    }

    .features {
        display: flex;
        justify-content: center;
        gap: 1rem;
        max-width: 97%;
        margin: 2rem auto;
        // padding: 50px 0;

        .feature {
            flex: 1;
            padding: 2.5rem 1rem;
            background-color: $div-background-color;
            text-align: center;
            border: 1px solid $highlight-color;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;


            h4 {
                font-size: 18px;
                color: $primary-color;
            }

            img {

                padding: 2rem;
                width: 100%;
                max-width: 150px;
            }

            p {
                color: $text-color;
                text-align: justify;
            }
        }

    }

    .project-images {
        div {
            h2 {
                text-align: center;
                font-size: 2rem;
            }
        }
    }

    .faq-section {
        // margin-top: 30px;
        // font-family: 'sans-serif';
        max-width: 95%;
        margin: 2rem auto;
        gap: 10px;

        h3 {
            margin-bottom: 1.3rem;
            font-size: 2rem;
            text-align: center;
        }

        .faq-item {
            border: 1px solid #333;
            border-radius: 5px;
            margin-bottom: 1.3rem;
            overflow: hidden;

            .faq-question {
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                padding: 1rem;
                background: #222;

                h4 {
                    font-size: 18px;
                    font-weight: 600;
                }

                .faq-icon {
                    font-size: 18px;
                }
            }

            .faq-answer {
                overflow: hidden;
                max-height: 0;
                transition: max-height 0.3s ease-out, padding 0.3s ease-out;
                padding: 0rem 1rem;

                &.show {
                    // padding: 15px;
                    // padding: 2rem;
                    padding: 1.3rem 1rem;
                    background: #111;
                    max-height: 500px;
                    /* You can adjust this value to the expected max height */
                }
            }
        }
    }
}