$grey: #333333;
$purple: #703BF7;
$darkpurple: #814fff;

.frequest {
    position: absolute;
    top: 100%;
    right: 50%;
    margin-top: 0.85rem;
    transform: translateX(50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    padding: 0.5rem;
    background-color: $grey;
    width: 18rem;
    max-height: 20rem;
    border-radius: 0.5rem;

    overflow-Y: scroll;
    scrollbar-width: none;
    scroll-behavior: auto;

    .individual {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.25rem;
        width: 100%;

        .user {
            display: flex;
            gap: 0.5rem;
            justify-content: space-between;
            align-items: center;

            img {
                height: 2.25rem;
                width: 2.25rem;
                border-radius: 50%;
                object-fit: fill;
            }

            .userdetails {
                display: flex;
                flex-direction: column;
                font-size: 0.8rem;

                .username {
                    border-radius: 0.5rem;
                    padding: 0.05rem 0.25rem;
                    background: #3c3944;
                    cursor: pointer;
                    font-size: 1rem;
                    color: $purple;
                    font-weight: 700;
                }
            }
        }

        .options {
            display: flex;
            gap: 0.25rem;

            .accept {
                padding: 0.25rem 0.5rem;
                background: $purple;
                border-radius: 0.25rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.9rem;
                transition: all 0.2s ease-in-out;
                cursor: pointer;

                &:hover {
                    background-color: $darkpurple;
                }
            }

            .reject {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0.2rem;
                padding: 0.15rem;
                transition: all 0.2s ease-in-out;
                cursor: pointer;

                svg {
                    font-size: 1rem;
                }

                &:hover {
                    background-color: #3c3944;
                }

            }
        }

    }

    .noRequests {
        padding: 0.6rem;
    }
}